<article class="album-add">
<h1 class="album-title">음반 수정</h1>
<form action="/admin/products/edit/<%= album._id %>" method="POST" class="album-form">
    <input type="text" name="title" placeholder="제목" required class="album-input">
    <input type="text" name="artist" placeholder="아티스트" required class="album-input">
    <input type="number" name="price" placeholder="가격" required class="album-input">
    <label for="genre">장르</label>
    <select name="genre">
      <option value="피아노">피아노</option>
      <option  value="성악">성악</option>
      <option  value="관현악">관현악</option>
      <option  value="기타">기타</option>
    </select>
    <input type="file" name="coverImage" required class="album-file">
    <button type="submit" class="album-button">수정</button>
  <a href="/admin/products">뒤로가기</a>
</form>
</article>

    
    
