<article class="home">
      
  <!-- 추천 음반 섹션 -->
  <div class="recommendation">
    <h2>추천음반</h2>
    <p>추천하는 음반</p>
    <img src="/img/dmitri.jpg" alt="추천음반1 사진" width="200" height="200">
    <img src="/img/Nocturne.jpg" alt="추천음반2 사진" width="200" height="200">
    <img src="/img/stravinsky.jpg" alt="추천음반3 사진" width="200" height="200">
    <img src="/img/waltz.jpg" alt="추천음반4 사진" width="200" height="200">
  </div>
  <section class="all-post">
    <h2>공지사항</h2>
    <ul>
      <% data.forEach(post => { %>
        <li>
          <a href="admin/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  </section>

</article>
