<article class="post">
<h1><%= data.title %></h1>
<section class="article">
<%= data.body %>
</section>
<a href="/adminmain">뒤로가기</a>
<div class="admin-post-controls">
  <a href="/edit/<%= data._id %>" class="btn">편집</a>
  <form action="/delete/<%= data._id %>?_method=DELETE" method="POST">
  <input type="submit" value="삭제"
  class="btn-delete btn">
  </form>
</article>
