<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="My first application using Node.js, Express and MongoDB">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <div class="container">   

    <!-- 헤더 : 로고, 상단 메뉴, 로그인 -->
    <header class="header">
      <!-- 로고 -->
      <a href="/adminmain" class="header-logo">Admin Page</a>

      <!-- 상단 메뉴 -->
      <nav class="header-nav">
        <ul>
        <li><a href="/adminmain">Home</a></li>
        <li><a href="/admin/products">제품 관리</a></li>
        <li><a href="/allposts">공지 관리</a></li>
        </ul>
        </nav>

      <!-- 관리자 로그아웃 -->
      <div class="header-button">
        <a href="/adminlogout">관리자 로그아웃</a>
        <a href="/adminregister">관리자 생성</a>
        </div>
        </header>
        

    <!-- 메인 : 실제 내용이 들어갈 부분 -->    
    <main class="main">
      <%- body %>
      
    </main>
  </div>  
  <footer>
    <div>
    <p> Copyright © kim. All rights reserved.</p>
    </div>
    <div>H.P 010-1234-56789</div>

</body>
<script>
  window.addEventListener('scroll', function() {
  var footer = document.querySelector('footer');
  var scrollHeight = document.documentElement.scrollHeight;
  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
  var clientHeight = document.documentElement.clientHeight;
  
  // 스크롤이 맨 아래에 도달했을 때 footer를 보이도록 함
  if (scrollHeight - scrollTop - clientHeight < 1 || !scrollHeight) {
    footer.style.display = 'block';
  } else {
    footer.style.display = 'none';
  }
});
</script>
</html>