<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="My first application using Node.js, Express and MongoDB">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">   

    <!-- 헤더 : 로고, 상단 메뉴, 로그인 -->
    <header class="header">
      <!-- 로고 -->
      <a href="/" class="header-logo">음반 판매 사이트</a>

      <!-- 상단 메뉴 -->
      <nav class="header-nav">
        <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/products">음반 검색</a></li>
        <li><a href="/post">공지사항</a></li>
        <li><a href="/cart">장바구니</a></li>
        </ul>
        </nav>

      <!--유저 로그인 -->
      <div class="header-button">
        <% if (locals.isLoggedIn) { %>
          <a href="/logout">로그아웃</a>
        <% } else { %>
          <a href="/login">로그인</a>
        <% } %>
        <% if (!locals.isLoggedIn) { %>
        <a href='/join'>회원가입</a>
        
        <a href='/adminlogin'>관리자 로그인</a>
        <% } %>
        </div>
        </header> 

    <!-- 메인 : 실제 내용이 들어갈 부분 -->    
    <main class="main">
      <%- body %>
      
    </main>
  </div>  
<footer>
    <div>
    <p> Copyright © kim. All rights reserved.</p>
    </div>
    <div>니얼굴 사이트</div>

</footer>
<script>
</script>
</body>
<script>
  window.addEventListener('scroll', function() {
  var footer = document.querySelector('footer');
  var scrollHeight = document.documentElement.scrollHeight;
  var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
  var clientHeight = document.documentElement.clientHeight;
  
  // 스크롤이 맨 아래에 도달했을 때 footer를 보이도록 함
  if (scrollHeight - scrollTop - clientHeight < 1) {
    footer.style.display = 'block';
  } else {
    footer.style.display = 'none';
  }
});
</script>
</html>