<section class ="all-post">

  <h2 >공지사항</h2>
  <ul >
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
      <% }) %>
      

  </ul>
</section>
