  <article class="home">
      <section class="recommendation ">
      <div >
        <h2>Recommmand</h2>
        <p>추천하는 음반</p>
      </div>

      <img src="/img/dmitri.jpg" alt="추천음반1 사진" width="200" height="200">
      <img src="/img/Nocturne.jpg" alt="추천음반2 사진" width="200" height="200">
      <img src="/img/stravinsky.jpg" alt="추천음반3 사진" width="200" height="200">
      <img src="/img/waltz.jpg" alt="추천음반4 사진" width="200" height="200">
    </section>
      <!-- 공지사항 -->
      </article>
      