      <!-- 음반 게시 페이지 -->
      <div >
        <h2>Recommmand</h2>
        <p>추천하는 음반</p>
      </div>

      <img src="#" alt="추천음반1 사진" width="400" height="400">
      <img src="#" alt="추천음반2 사진" width="400" height="400">
      <img src="#" alt="추천음반3 사진" width="400" height="400">
      <img src="#" alt="추천음반4 사진" width="400" height="400">

      <!-- 최근 게시물 -->
      <section>
        <h2 >최근 커뮤니티 글</h2>
        <ul >
          <% data.forEach(post => { %>
            <li>
              <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span><%= post.createdAt.toDateString() %></span>
              </a>
            </li>
            <% }) %>

        </ul>
      </section>